BLOCK ASYNCPATHS;
BLOCK RESETPATHS;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;

LOCATE COMP "clk" SITE "28";
LOCATE COMP "reset" SITE "25";
LOCATE COMP "ctrl_startstop_n" SITE "26";
LOCATE COMP "ctrl_reset_n" SITE "23";
LOCATE COMP "ctrl_incmin_n" SITE "21";
LOCATE COMP "ctrl_incsec_n" SITE "20";
LOCATE COMP "led_anode_abcdefg[0]" SITE "5";
LOCATE COMP "led_anode_abcdefg[1]" SITE "11";
LOCATE COMP "led_anode_abcdefg[2]" SITE "14";
LOCATE COMP "led_anode_abcdefg[3]" SITE "16";
LOCATE COMP "led_anode_abcdefg[4]" SITE "17";
LOCATE COMP "led_anode_abcdefg[5]" SITE "8";
LOCATE COMP "led_anode_abcdefg[6]" SITE "13";
LOCATE COMP "led_cathode_digit[0]" SITE "4";
LOCATE COMP "led_cathode_digit[1]" SITE "9";
LOCATE COMP "led_cathode_digit[2]" SITE "10";
LOCATE COMP "led_cathode_digit[3]" SITE "12";
LOCATE COMP "buzzer" SITE "27";

IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "ctrl_startstop_n" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=LARGE;
IOBUF PORT "ctrl_reset_n" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=LARGE;
IOBUF PORT "ctrl_incmin_n" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=LARGE;
IOBUF PORT "ctrl_incsec_n" IO_TYPE=LVCMOS33 PULLMODE=NONE HYSTERESIS=LARGE;
IOBUF PORT "led_anode_abcdefg[4]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_anode_abcdefg[5]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_anode_abcdefg[6]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_anode_abcdefg[3]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_anode_abcdefg[2]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_anode_abcdefg[1]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_anode_abcdefg[0]" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;
IOBUF PORT "led_cathode_digit[0]" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE;
IOBUF PORT "led_cathode_digit[1]" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE;
IOBUF PORT "led_cathode_digit[2]" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE;
IOBUF PORT "led_cathode_digit[3]" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE;
IOBUF PORT "buzzer" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE;

USE PRIMARY NET "clk_c";
FREQUENCY PORT "clk" 0.032768 MHz;
FREQUENCY NET "clk_c" 0.032768 MHz;
FREQUENCY NET "clk_1khz" 0.001024 MHz;
FREQUENCY NET "clk_4khz" 0.004096 MHz;
